.league-details{
    background-color: blueviolet;
    padding: 30px 50px;
}
.league-details h3{
    padding-top:30px;
    color: white;
}
.league-info{
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.info-media img{
    width: 100%;
    padding: 0 10px;
}
.league-description p{
    color: white;
    padding-top: 10px;
    text-align: justify;
}
.social-link{
    text-align: center;
}
.social-link ul li{
    list-style-type: none;
    padding-left: 10px;
    display: inline-block;
}
.social-link ul li a{
    text-decoration: none;
}
.social-link img{
    width: 60px;
}